body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:295px;
  top:300px;
  width:395px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:365px;
  top:366px;
  width:80px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:430px;
  top:332px;
  width:120px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:375px;
  top:336px;
  width:80px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:430px;
  top:366px;
  width:120px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:360px;
  top:406px;
  width:80px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:406px;
  width:120px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:570px;
  top:356px;
  width:30px;
  height:35px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:570px;
  top:327px;
  width:30px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:246px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:80px;
  top:281px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:80px;
  top:316px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:100px;
  top:395px;
  width:61px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:80px;
  top:351px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
